MARIADB_ROOT_PASS="<Root password for database>"
MARIADB_USER="<User that Spring will use to access the database>"
MARIADB_PASS="<Password that Spring will uset to access the database>"
MARIADB_DB_NAME="<Database name that Spring will use>"

JWT_SECRET=$(head -c 32 /dev/random | base64)

TG_BASE_URL="http://app:8080"
TG_USERNAME="<API username that the bot will use>"
TG_PASSWORD="<API password that the bot will use>"
TG_BOT_TOKEN="<Your Telegram bot token>"